.dinosaur {
    width: 100px; /* ניתן לשנות גודל לפי התמונה */
    height: 100px; /* ניתן לשנות גודל לפי התמונה */
    background-image: url'dinosaur.png';
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
